---
import Layout from "../layouts/Layout.astro";
import Wrapper from "../components/Wrapper.astro";
import { Image } from "astro:assets";
import { costaRicaImages } from "../constants/images";
---

<Layout>
  <Wrapper>
    <div class="grid gap-4">
      {
        costaRicaImages.map((image) => (
          <Image
            class="border w-full h-auto rounded-lg"
            src={image.src}
            alt={image.alt}
            width={image.width}
            height={image.height}
          />
        ))
      }
    </div>
  </Wrapper>
</Layout>
