---
const title = "Paul T. Newsam";
const description = "I'm an amateur photographer based in San Diego, CA.";
const location = "San Diego, CA";
---

<div
  class="md:absolute top-0 left-0 bottom-0 md:w-[200px] bg-white border-b md:border-r border-neutral-200/75"
>
  <div class="p-8 flex flex-col gap-4">
    <div>
      <h1 class="mb-4">
        <a
          class="text-xl font-semibold leading-tight hover:underline cursor-pointer"
          href="/">Paul T. Newsam</a
        >
      </h1>
      <p class="text-sm text-gray-500 mb-4">
        I'm an amateur photographer based in San Diego, CA.
      </p>
      <p class="text-sm text-gray-500">
        I currently work as a software engineer, but I used to work in biology.
        These photos are from some of my travels.
      </p>
    </div>
    <nav>
      <ul class="flex md:flex-col gap-4 md:gap-1">
        <li>
          <a
            class="text-sm font-semibold text-gray-700 hover:underline transition-colors"
            href="/costa-rica"
          >
            Costa Rica
          </a>
        </li>
        <li>
          <a
            class="text-sm font-semibold text-gray-700 hover:underline transition-colors"
            href="/galapagos"
          >
            Galapagos
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
