---
import Sidebar from "./Sidebar.astro";
---

<div class="grid md:grid-cols-[200px_1fr] min-h-screen">
  <div class="md:block hidden">
    <Sidebar />
  </div>

  <div class="p-8">
    <slot />
  </div>
</div>
