---
import Sidebar from "./Sidebar.astro";
---

<div
  class="container max-w-screen-xl mx-auto grid md:grid-cols-[200px_1fr] min-h-screen"
>
  <div class="relative">
    <Sidebar />
  </div>

  <div class="p-4 md:p-8">
    <slot />
  </div>
</div>
