<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Paul T. Newsam &bull; Photos</title>
	</head>
	<body class="font-['Public_Sans']">
		<slot />
	</body>
</html>
